#form-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.questionnaire {
  margin: 20px auto;
}

.questionnaire iframe {
  width: 100%;
  height: 600px;
  border: none;
}

#thankyou-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
